@import "tailwindcss";

@theme {
    --color-divBg: #1E1E1E;
    --color-bg: #121313;
    --color-primaryBlue: #64ACFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #121313 inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
body{
  background-color: #121313;
}

@theme inline {
  --color-primary-bg: #121313;
  --color-secondary-bg: #1E1E1E;
  --color-primary-hero: #129274;
  --color-secondary-hero: #64ACFF;
  --color-primary-font: #FFFFFF;
  --color-secondary-font: #B1AAA6;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(6px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn{
  animation: fadeIn 1s ease-out;
}

.glass-card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.03)
  );
  border-radius: 22px;
  padding: 22px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.55);
}

.card-title {
  font-size: 1.05rem;
  font-weight: 500;
}

.path-box {
  width: 78px;
  height: 78px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
}



.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  padding: 14px;
  width: 80px;
  font-size: 12px;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.15s ease-out;
}